/*Styling hint sections*/
.hint-selection {
  text-align: center;
}
.hint-header {
  font-size: 12px;
  font-weight: 500;
  padding: 24px;
  color: rgba(0, 0, 0, 0.54);
  margin: 0;
}
::ng-deep .mat-form-field .mat-form-field-infix {
  width: auto !important;
}
.mat-form-field {
  padding: 5px;
  width: 35%;
}
.hint-button {
  width: 10%;
}

@media only screen and (max-width: 950px) {
  .mat-form-field {
    width: 90%;
  }
}
