<div class="home-box puzzle-box">
  <h3 class="header">Puzzels</h3>
  <div class="contents">
    <table class="overview-table puzzle-table">
      <thead>
      <tr>
        <th>Puzzel</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Telefoon puzzle</td>
        <td>3 pogingen</td>
      </tr>
      <tr>
        <td>Weegschaal puzzel</td>
        <td>&#10003;</td>
      </tr>
      <tr>
        <td>Super mega lange puzzels, supermoeilijk</td>
        <td>&#10005;</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
