<div class="home-box puzzle-box">
  <h3 class="header">Puzzels</h3>
  <div class="contents">
    <table mat-table matSort #PuzzleTableSort="matSort" [dataSource]="getPuzzleStatus()" class="mat-elevation-z8 custom-md-table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-md-table-header">Puzzel</th>
        <td mat-cell *matCellDef="let element" class="rule-id">
          {{ element.id }}
          <button class="custom-icon-button" matTooltip="{{ app.getEventDescription(element.id) }}"
                  matTooltipPosition="right" matTooltipClass="custom-tool-tip">
            <mat-icon class="custom-icon">info_outline</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-md-table-header">Opgelost</th>
        <td mat-cell *matCellDef="let element" class="boolean-column">
          <ng-container *ngIf="element.status"><span class="check-mark">&#10004;</span></ng-container>
          <ng-container *ngIf="!element.status"><span class="cross">&#10006;</span></ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-md-table-header">Hints</th>
        <td mat-cell *matCellDef="let element" class="send-hint">
          <form (ngSubmit)="onSelectedHint()" class="hint-form">
            <mat-form-field>
              <mat-select [(ngModel)]="hint" name="hint" placeholder="Hint">
                  <mat-option *ngFor="let hint of getHintList(element.puzzleName)" [value]="hint"> -{{ hint }} </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select [(ngModel)]="device" name="device" placeholder="Waar">
                <mat-option *ngFor="let device of getHintDevices()" [value]="device"> {{ device }} </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-button type="submit" class="mat-raised-button mat-primary custom-md-button hint-button">
              <mat-icon>send</mat-icon>
            </button>
          </form>
        </td>
      </ng-container>
      <ng-container matColumnDef="done">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-md-table-header">Handmatig afmaken</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button class="mat-raised-button mat-primary custom-md-button" (click)="app.finishRule(element.id)"
                  disabled="{{ app.getGameStateInGame() }}">Puzzel eindigen</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="puzzleColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: puzzleColumns;"></tr>
    </table>
  </div>
</div>
