/*Global variables - don't work*/
:root {
  --mat-primary: #3f51b5;
  --mat-font: Roboto, "Helvetica Neue", sans-serif;
}


/*General styling*/
body {
  background-color: #3f51b5;
  max-height: 100%;
  min-width: 350px;
}
.home{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.menu {
  background-color: #EEEEEE;
}
.home-header {
  max-width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
}
.title-box, .subtitle-box {
  display: inline-block;
  margin: 0px 10px 0px 10px;
}


/*Boxes on home page*/
.home-box {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0 30px 0;
  max-width: 100%;
}
.home-box .header {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #3f51b5;
  background-color: #EEEEEE;
  margin-bottom: 5px;
  padding: 5px;
}
.subtitle, .title {
  color: #EEEEEE;
}
.home-box .contents {
  background-color: #EEEEEE;
  padding: 5px;
  text-align: center;
  float: none;
  justify-content: center;
}



/*Small screens should have small margin*/
@media only screen and (max-width: 400px) {
  .home-box {
    margin: 5px;
  }
}
@media only screen and (min-width: 650px) and (max-width: 700px) {
  .home-box {
    margin: 5px;
  }
}
/*Define grid home page for large screens*/
@media only screen and (min-width: 650px) {

  .timer-box {grid-area: timer; row-span: 2}
  .manage-box {grid-area: manage; row-span: 2}
  .hint-box {grid-area: hint; row-span: 2}
  .device-box {grid-area: device; row-span: 3}
  .puzzle-box {grid-area: puzzle; row-span: 3}

  .home-content {
    display: grid;
    grid-template-columns: 40% 60%;
  }
}



/*Tables for devices and events*/
.custom-md-table {
  width: 100%;
  background-color: #EEEEEE;
  text-align: left;
  max-height: 100px;
}
.custom-md-table-header {
  font-weight: bold;
}
.custom-md-table-page {
  background-color: #EEEEEE;
}


/*Other components*/
.custom-md-button, button {
  margin: 5px;
  font-size: 16px;
  border-radius: 4px;
}


