/*Global variables - don't work - but keep track of general colors and fonts used.*/
:root {
  --mat-primary: #3f51b5;
  --mat-secondary: #EEEEEE;
  --mat-font: Roboto, "Helvetica Neue", sans-serif;
}


/*General styling, setting background colors.*/
body { /*body of the index.html*/
  background-color: #3f51b5;
  min-width: 350px;
}
.main { /*div of app.html*/
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.main-content { /*sidenav content*/
  background-color: #3f51b5;
  padding: 10px;
}

/**Menu styling, such that the menu is always the same size, which exactly fits three items.*/
.menu {
  background-color: #EEEEEE;
  height: 155px;
}
.menu-list {
  height: 145px;
}
.nav-item {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/*Tables for devices and events*/
.custom-md-table {
  width: 100%;
  background-color: #EEEEEE;
  text-align: left;
}
.custom-md-table-header {
  font-weight: bold;
}
.boolean-column {
  text-align: center;
  width: 60px;
}


/*Other components throughout the application*/
.custom-md-button {
  margin: 5px;
  font-size: 16px;
  border-radius: 4px;
  white-space: pre-wrap;
}
.custom-icon-button {
  margin: 0;
  padding: 0;
  border-width: 0;
}
.custom-icon {
  font-size: 16px;
  vertical-align: top;
}
.custom-tool-tip {
  font-size: 14px;
}
.check-mark {
  color: green !important;
}
.cross {
  color: red !important;
}


/*Boxes on home page, which contain a header and contents box,
 and should be spaced apart from each other.*/
.home-box {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0 30px 0;
  max-width: 100%;
}
.home-box .header {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #3f51b5;
  background-color: #EEEEEE;
  margin-bottom: 5px;
  padding: 5px;
}
.home-box .contents {
  background-color: #EEEEEE;
  padding: 5px;
  text-align: center;
  float: none;
  justify-content: center;
}



/*Small screens should have little 'white space'*/
@media only screen and (max-width: 1100px) {
  @media only screen and (min-width: 700px) {
    .left {
      margin: 0 5px 0 0;
    }
  }
  .home-box {
    margin: 0;
  }
  .main-content {
    padding: 0;
  }
  .home-box .contents {
    padding: 0;
  }
}

/*Define grid home page for large screens*/
@media only screen and (min-width: 700px) {
  .timer-box {grid-area: timer}
  .manage-box {grid-area: manage}
  .hint-box {grid-area: hint}
  .device-box {grid-area: device}
  .puzzle-box {grid-area: puzzle}

  .home-content {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
