<div class="home-box device-box">
  <h3 class="header">Apparaten</h3>
  <div class="contents">
    <table class="overview-table device-table">
      <thead>
      <tr>
        <th>Apparaat</th>
        <th>Connectie status</th>
        <th>Component status</th>
      </tr>
      </thead>
      <tbody>
              <tr *ngFor="let dev of deviceList.all.values() ">
              <td>{{ dev.id }}</td>
              <td>{{ dev.connection }}</td>
                <td>
                <ul>
                  <li *ngFor="let comp of dev.status | keyvalue">
                    {{comp.key}} : {{comp.value}}
                  </li>
                </ul>
                </td>
            </tr>
      </tbody>
    </table>
  </div>
</div>
