/*Keep space between component and its status*/
.comp-pad-right {
  padding-right: 5px;
}

/*Styling the status expansion panels.*/
::ng-deep .status-expansion .mat-expansion-panel-body {
  padding: 0;
}
.mat-expansion-panel-header, .mat-expansion-panel {
  background-color: #EEEEEE;
}


/*Button columns should be button width.*/
.test-column {
  width: 64px;
}

/*With small screens, do not show test button*/
@media only screen and (max-width: 470px) {
  .test-column {
    display: none;
  }
}
