.mat-row:hover {
  background-color: #DBDBDB;
}

.component-cell {
  white-space: pre-line;
}
.comp-pad-right {
  padding-right: 5px;
}
.test-column {
  width: 64px;
}

@media only screen and (max-width: 470px) {
  .test-column {
    display: none;
  }
}
