<div class="home-box device-box">
  <h3 class="header">Apparaten</h3>
  <div class="contents">
    <table class="overview-table device-table">
      <thead>
      <tr>
        <th>Apparaat</th>
        <th>Connectie</th>
        <th>Component</th>
      </tr>
<!--      <tr class="table-header">-->
<!--        <th  >Student Name</th>-->
<!--        <th >Subject</th>-->
<!--        <th >Marks</th>-->
<!--      </tr>-->
      </thead>
      <tbody>
              <tr mdbTableCol  *ngFor="let key of jsonData">
              <td>{{ key["apparaat"] }}</td>
              <td>{{ key["connectie"] }}</td>
                <td>
                <ul>
                  <li *ngFor="let comp of key.status">
                {{comp["id"]}} - {{comp["status"]}}
                  </li>
                </ul>
                </td>
            </tr>
<!--            <tr    *ngFor="let key of jsonData" >-->
        <!--              <div *ngFor="let components of device.status;">-->
<!--        <td >{{ key["apparaat"] }}</td>-->
<!--                  <td >{{components.id}}</td>-->
<!--                  <td >{{components.value}}</td>-->
<!--                </div>-->
<!--            </tr>-->
<!--      <tr mdbTableCol *ngFor="let student of jsonData; index as j">-->
<!--        <div *ngFor="let subject of student.subjects; index as k">-->
<!--          <div  *ngFor="let exam of subject.exams; index as i">-->
<!--            <td>{{student.name}}</td>-->
<!--            <td>{{subject.name}}</td>-->
<!--            <td>{{exam.score}}</td>-->
<!--          </div>-->
<!--        </div>-->
<!--      </tr>-->
      </tbody>
    </table>
  </div>
</div>
