<div class="home-box device-box">
  <h3 class="header">Apparaten</h3>
  <div class="contents">
    <table mat-table matSort #DeviceTableSort="matSort" [dataSource]="getDeviceList()" class="mat-elevation-z8 custom-md-table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-md-table-header"> Apparaat </th>
        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
      </ng-container>
      <ng-container matColumnDef="connection">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="custom-md-table-header"> Connectie </th>
        <td mat-cell *matCellDef="let element" class="boolean-column">
          <ng-container *ngIf="element.connection">&#10004;</ng-container>
          <ng-container *ngIf="!element.connection">&#10006;</ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="component">
        <th mat-header-cell *matHeaderCellDef class="custom-md-table-header onderdeel-header"> Onderdeel </th>
        <td mat-cell id="{{element.id}}-component" *matCellDef="let element" class="component-cell comp-pad-right">
          {{ getComponents(element.status, element.id) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="custom-md-table-header"> Status </th>
        <td mat-cell id="{{element.id}}-status" *matCellDef="let element" class="component-cell">
          {{ formatStatus(element.status, element.id) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="test">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="test-column custom-md-table-header"> Test </th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <button mat-button color=primary class="test-column" (click)="testDevice(element.id)">Test</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="deviceColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: deviceColumns;" (click)="collapseComponents(row)"></tr>
    </table>
  </div>
</div>
