/**Size of iframe**/
.camera-feed {
  width: 100%;
  height: 100%;
}

@media only screen and (min-height: 600px) {
  .camera-feed {
    height: 500px;
  }
}

/**Camera title box styling, adjacency**/
.camera-title, .camera-form {
  display: inline-block;
  margin: 10px;
}

@media only screen and (max-width: 550px) {
  .camera-title, .camera-form {
    display: block;
  }
}

/**Width of drop down**/
.mat-form-field {
  width: 40%;
  min-width: 250px;
}
