/**Size of iframe**/
.feed-box {
  height: 70vh;
}
.camera-box .contents {
  height: 70vh;
  background-color: #EEEEEE;
}
.camera-feed {
  height: 100%;
  width: 100%;
}
@media only screen and (max-height: 500px) {
  .feed-box {
    height: 50vh;
  }
  .camera-box .contents {
    height: 50vh;
  }
}

/**Camera title styling**/
.camera-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #3f51b5;
}


/**Width of drop down**/
.mat-form-field {
  width: 100%;
}

/**Camera selection*/
.left, .center, .right {
  float: left;
  width: 33%;
}
.center {
  text-align: center;
}

/**Two cameras*/
.split-screen .first-box, .split-screen .second-box {
  float: left;
  width: 50%;
}
/**On small screens, put the cameras underneath each other*/
@media only screen and (max-width: 600px) {
  .split-screen .first-box, .split-screen .second-box {
    float: none;
    width: 100%;
  }
}

