<div class="home-box manage-box">
  <h3 class="header">Acties</h3>
  <div class="contents">
    <div>
      <button mat-raised-button class="test custom-md-button" color=primary (click)="onClickTestButton()">test</button>
      <button mat-raised-button class="reset custom-md-button" color=primary (click)="onClickResetButton()">reset</button>
    </div>
    <div>
      <ng-container *ngFor="let btn of getButtons()">
        <button mat-raised-button class="generated-button custom-md-button" color=primary
                (click)="onClickCustomButton(btn.id)" disabled="{{ btn.disabled }}">
          {{ btn.id }}
        </button>
      </ng-container>
    </div>
  </div>
</div>
