.content {
  text-align: center;
}

button {
  background-color: #ff4081;
  color: white;
  margin: 5px;
  font-size: 16px;

  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.current {
  font-size: 24px;
}
.current-box {
  border: 2px solid white;
  padding: 5px;
}

p {
  color: white;
  font-size: 16px;
}

.all-slides {
  border: 2px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
}

.subtitle {
  font-size: 18px;
}
