<div class="content">
  <p class="title">Haarlems Accordeonorkest</p>
  <p class="subtitle">Schilderijententoonstelling</p>
  <div class="current-box">
    <p class="current">Huidige slide:</p>
    <p class="current">{{ getCurrent() }}</p>
    <button (click)="navigation.sendInstruction('prev')">Vorige</button>
    <button (click)="navigation.sendInstruction('next')">Volgende</button>
  </div>
  <div class="all-slides">
    <p>Kies een specifieke slide</p>
    <ng-container *ngFor="let slide of navigation.slides; let i = index">
      <button (click)="navigation.sendInstruction('specific', i)">{{ slide }}</button>
    </ng-container>
  </div>
</div>
