/**Distance between hint box and button**/
.mat-form-field {
  margin: 10px;
  width: 90%;
}

/*Style the hint log*/
::ng-deep .puzzle-panel .mat-expansion-panel-body {
  padding: 5px;
}
.mat-expansion-panel {
  background-color: #EEEEEE;
}
.mat-expansion-panel-header {
  background-color: #EEEEEE;
  font-weight: bold;
}
.hint-log {
  white-space: pre-wrap;
}
