<div class="main">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="nav.toggle()"><mat-icon aria-label="menu">menu</mat-icon></button>
    <p class="currentTime">{{ getCurrentTime() }} </p>
    <div class="home-header">
      <div class="title-box">
        <p class="title"> {{ title }} : {{ nameOfRoom }} </p>
      </div>
    </div>
    <span (click)="$event.stopPropagation()">
      <button mat-icon-button (click)="setFullScreen()"><mat-icon>fullscreen</mat-icon></button>
    </span>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #nav mode="over" class="menu">
      <mat-nav-list class="menu-list">
        <a mat-list-item class="nav-item" routerLink="/" (click)="nav.toggle()"><mat-icon>home</mat-icon> Operator overzicht </a>
        <a mat-list-item class="nav-item" routerLink="/camera" (click)="nav.toggle()"><mat-icon>videocam</mat-icon> Camera overzicht </a>
        <a mat-list-item class="nav-item" routerLink="/config" (click)="nav.toggle()"><mat-icon>build</mat-icon> Configuratie </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
