<div class="home">
  <div class="menu"></div>
  <div class="home-page">
    <div class="home-header">
      <div class="title-box">
        <h1 class="title">{{ title }} : </h1>
      </div>
      <div class="subtitle-box">
        <h1 class="subtitle">{{ nameOfRoom }}</h1>
      </div>
    </div>
    <div class="home-content">
      <div class="left">
        <app-timer></app-timer>
        <app-manage></app-manage>
        <app-hint></app-hint>
      </div>
      <div class="right">
        <app-device></app-device>
        <app-puzzle></app-puzzle>
      </div>
    </div>
  </div>
</div>
