<div class="home">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="nav.toggle()"><mat-icon aria-label="menu">menu</mat-icon></button>
    <div class="home-header">
      <div class="title-box">
        <p class="title">{{ title }}</p>
      </div>
      <div class="subtitle-box">
        <p class="subtitle">{{ nameOfRoom }}</p>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="home-content">
    <mat-sidenav #nav mode="over" class="menu">
      Sidenav content
    </mat-sidenav>
    <mat-sidenav-content class="home-content">
      <div class="home-page">
        <div class="home-content">
          <div class="left">
            <app-timer></app-timer>
            <app-manage></app-manage>
            <app-hint></app-hint>
          </div>
          <div class="right">
            <app-device></app-device>
            <app-puzzle></app-puzzle>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
