/** Styling title**/
.home-header {
  margin: 0 auto;
}
.currentTime {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #EEEEEE;
  font-weight: bold;
}
.title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #EEEEEE;
  font-weight: bold;
  text-align: center;
  white-space: normal;
}
.title-box {
  display: inline-block;
  margin: 0px 10px 0px 10px;
}

@media only screen and (max-width: 550px) {
  .title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 550px) and (max-width: 750px) {
  .title {
    font-size: 24px;
  }
}

@media only screen and (min-width: 750px) {
  .title {
    font-size: 36px;
  }
}

.check-mark {
  color: green;
}

.cross {
  color: red;
}
